<form action="/search" method="GET">
  <label> Video:
    <input type="text" name="video" value="<%= vidurl %>">
  </label>
  <label> Channel (defaults to OP):
    <input type="text" name="user" placeholder="pewdiepie">
  </label>
  <button type="submit">Find Comments!</button>
</form>